# EditorConfig is awesome: http://EditorConfig.org

root = true

#typescript/javascript/json

[*.{ts,json,js}]

charset = utf-8

trim_trailing_whitespace = true

insert_final_newline = true

indent_style = space

indent_size = 2

trailing_comma = none

 

[Makefile]

indent_style = tab

# terraform

[*.{tf,tfvars}]

indent_size = 2

indent_style = space

[*.md]

trim_trailing_whitespace = false