# Node.js dependencies
/node_modules/

# Logs
logs
*.log
npm-debug.log*
/login.json

# Environment variables
.env
.env.local

# Build artifacts
/dist/
/build/

# IDE settings
.vscode/
.idea/

#reports
/playwright-report
/test-results

# MacOS files
.DS_Store
